@use 'var' as *;
@use 'breakpoints' as *;

/* ===== DEFAULT ===== */
:root {
  --parallax-offset: 0px;
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(black, 0);
}

html {
  width: 100%;
  height: 100%;
  background: black;

  &.loaded {
    scroll-behavior: smooth;
  }
}

body {
  width: 100%;
  height: 100%;
  min-width: $min-width;
  min-height: 100%;
  position: relative;
  display: block;
  overflow-x: hidden;
  font: 16px/26px $font-default;
  color: white;
  background: black;
  @include font-smooth;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  @include media-breakpoint-up(xl) {
    font-size: 18px;
    line-height: 28px;
  }
}

a {
  color: $color-green;
  text-decoration: none;
  @media (hover: hover) {
    &:hover, &:focus {
      text-decoration: underline;
      text-decoration-thickness: .0625em;
      text-underline-offset: .167em;
    }
  }
}

p {
  margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 1em;
  font-family: $font-default;
  font-weight: bold;
}
h1, .h1 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  @include media-breakpoint-up(md) {
    font-size: 48px;
    line-height: 60px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 58px;
    line-height: 70px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 78px;
    line-height: 90px;
  }
}
h2, .h2 {
  font-size: 48px;
  line-height: 55px;
  text-transform: uppercase;
  @include media-breakpoint-up(xl) {
    font-size: 64px;
    line-height: 115px;
  }
}
h3, .h3 {
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  @include media-breakpoint-up(xl) {
    font-size: 32px;
    line-height: 56px;
  }
}
h4, .h4 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: .0025em;
}
h1, .h1, h2, .h2, h3, .h3 {
  strong {
    font-weight: inherit;
    color: $color-green;
  }
}
.zigzag {
  position: relative;

  &::after {
    @include pseudo;
    width: 100%;
    height: 17px;
    margin-top: -6px;
    right: 6px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='292' height='28' fill='none'%3E%3Cpath stroke='%2399FF50' stroke-linecap='round' stroke-width='3' d='M2.336 14.382c27.71-1.066 55.374-2.028 83.11-2.641 25.443-.562 50.836-2.005 76.264-2.983 21.76-.837 43.523-1.086 65.26-2.519 15.375-1.013 30.72-2.408 46.091-3.472 5.002-.346 10.011-.23 15.013-.611 1.477-.113 2.739-.305.465.196-19.691 4.332-39.927 6.463-59.931 8.704-34.303 3.844-68.588 7.37-102.793 12.03-7.233.986-14.526 1.813-21.737 2.934-1.216.19-1.108.275-.049.22 5.248-.269 10.492-.341 15.747-.464 32.552-.76 65.099-2.447 97.585-4.597 18.205-1.205 36.504-3.276 54.771-3.276'/%3E%3C/svg%3E");
    background-size: contain;
    position: absolute;
    top: 100%;
    z-index: -1;
    @include media-breakpoint-up(xss) {
      width: 104%;
      height: 19px;
      right: -6px;
    }
    @include media-breakpoint-up(xl) {
      height: 28px;
      margin-top: -17px;
      right: -5px;
    }
  }
}
