@use '../var' as *;
@use '../breakpoints' as *;


/* ===== REVIEW ===== */
.review {
  padding: 44px 20px 80px;
  border-radius: 44px;
  margin-bottom: 24px;
  position: relative;
  z-index: 1;
  background: $color-chinese;
  @include media-breakpoint-up(md) {
    padding-top: 76px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 98px;
    padding-bottom: 112px;
  }

  &__header {
    margin-bottom: 77px;
    text-align: center;
    @include media-breakpoint-up(md) {
      margin-bottom: 73px;
      font-size: 18px;
      line-height: 40px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 135px;
    }

    p:last-child {margin-bottom: 0;}
  }

  &__heading {
    margin-bottom: 14px;
    @include media-breakpoint-up(xl) {
      line-height: 76px;
    }
  }

  &__list {
    margin: 0;
    padding: 0 0 0 38px;
    list-style: none;
    counter-reset: item;
    @include media-breakpoint-up(md) {
      padding-left: 60px;
    }
    @include media-breakpoint-up(xl) {
      padding-left: 100px;
    }
  }

  &__entry {
    padding: 28px 0 0;
    position: relative;
    @include media-breakpoint-up(md) {
      padding: 20px 0;
    }

    &::before {
      display: block;
      content: "0" counter(item);
      counter-increment: item;
      font-size: 20px;
      line-height: 24px;
      color: $color-green;
      position: absolute;
      left: -30px;
      @include media-breakpoint-up(md) {
        font-size: 28px;
        line-height: 32px;
        left: -54px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 32px;
        line-height: 48px;
        left: -88px;
      }
    }

    &:nth-child(n+10) {
      &::before {content: counter(item);}
    }

    &.visible {
      .review__reply {display: block;}
    }

    &.open {
      .review__question::after {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 3.25a.75.75 0 0 1 .75.75v14.19l4.72-4.72a.75.75 0 1 1 1.06 1.06l-6 6a.75.75 0 0 1-1.06 0l-6-6a.75.75 0 1 1 1.06-1.06l4.72 4.72V4a.75.75 0 0 1 .75-.75Z' fill='%2399FF50'/%3E%3C/svg%3E%0A");transform: rotate(180deg); background-color: rgba($color-green, .1);}
      .review__reply {
        //height: calc-size(auto, size);
      }
    }
  }

  &__entry + &__entry {
    @include media-breakpoint-up(xl) {
      margin-top: 2px;
    }
  }

  &__question {
    padding-bottom: 22px;
    padding-right: 40px;
    margin-bottom: 0;
    border-bottom: .5px solid $color-green;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: .01em;
    position: relative;
    @include media-breakpoint-up(md) {
      padding-right: 100px;
      font-size: 28px;
      line-height: 32px;
    }
    @include media-breakpoint-up(xl) {
      padding-bottom: 19px;
      font-size: 32px;
      line-height: 48px;
    }

    &::after {
      @include pseudo;
      width: 34px;
      height: 34px;
      background: #121a22 url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 3.25a.75.75 0 0 1 .75.75v14.19l4.72-4.72a.75.75 0 1 1 1.06 1.06l-6 6a.75.75 0 0 1-1.06 0l-6-6a.75.75 0 1 1 1.06-1.06l4.72 4.72V4a.75.75 0 0 1 .75-.75Z' fill='%23fff'/%3E%3C/svg%3E") center center no-repeat;
      background-size: 18px 18px;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: -3px;
      //transition: transform $effect-s, background-color $effect-s;
      @include media-breakpoint-up(md) {
        width: 40px;
        height: 40px;
        background-size: 20px 20px;
        top: -2px;
      }
      @include media-breakpoint-up(xl) {
        width: 48px;
        height: 48px;
        background-size: 24px 24px;
        top: 0;
      }
    }
  }

  &__reply {
    max-height: 0;
    overflow: hidden;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    transition: max-height .4s ease;
    @include media-breakpoint-up(md) {
      font-size: 18px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 20px;
    }

    p {
      margin-bottom: 30px;
      &:last-of-type {margin-bottom: 0;}
    }

    em {
      color: $color-green;
      font-style: normal;
    }
  }

  &__space {
    padding-top: 35px;
    padding-bottom: 28px;
    @include media-breakpoint-up(md) {
      padding-top: 45px;
      padding-bottom: 15px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 63px;
      padding-bottom: 22px;
    }
  }

  &__generated {
    min-height: 54px;
    margin: 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: $font-secondary;
    font-size: 14px;
    text-align: center;
    cursor: default;
    @include media-breakpoint-up(md) {
      font-size: 16px;
    }

    p {
      margin: 0 0 0 46px;
      position: relative;

      &::before {
        @include pseudo;
        width: 26px;
        height: 40px;
        margin-right: 12px;
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translate3d(0, -50%, 0);
        background: url('#{$img}/robot.png') no-repeat center center;
        background-size: contain;
        @include media-breakpoint-up(md) {
          width: 34px;
          height: 54px;
        }
      }
    }
  }

  &::after {
    @include pseudo;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
